<h1> Movie Posters </h1>

	<h3> <%=@question%> </h3>
	<form action = "/result" method="POST">
	<%@movies.each do |x|%>

		

		<button type = "submit" name = "answer" value="<%=x.id%>"> 
			<img src = "<%= x.poster %>" style="width:200px;height:200px"> 
		</button>

	<%end%>
	</form>



